footer
    background: $black
    color: $white
    text-align: center
    padding: 50px 10px

.footer__logo
    width: 140px
    margin-bottom: 30px

.footer_nav-list
    display: flex
    flex-direction: column
    gap: 17px
    margin-bottom: 50px

.footer_nav-items
    font-size: .87em
    a
        border-bottom: 2px solid $black
        padding-bottom: 4px
        &:hover
            border-bottom: 2px solid $white
        

.footer_social-links
    display: flex
    gap: 15px
    justify-content: center
    align-items: center
    margin-bottom: 13px

.social-items
    border-bottom: 2px solid $black
    &:hover
        border-bottom: 2px solid $white

.copyright
    color: $dark-gray
    font-size: .87em

        