.header-container
    width: 94%
    margin: auto
    display: grid
    grid-template-columns: auto auto
    justify-content: space-between
    padding: 10px

.main-header
    position: sticky
    top: 0
    left: 0
    right: 0
    background: $fourth
    z-index: 400

.shadow-class
    box-shadow: -1px 1px 20px transparentize($black, 0.7)

.logo
    min-width: 8rem
    padding-top: 4px
    @media (min-width: 1000px)
        min-width: 12rem
