header
    position: absolute
    z-index: 2
    width: 100%
    top: 0
    left: 0 
    right: 0

.header__container
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin: 35px 25px
    @media (min-width: 500px)
        margin: 35px 60px
    @media (min-width: 800px)
        margin: 35px 70px
    @media (min-width: 1300px)
        margin: 35px 100px
    @media (min-width: 1400px)
        margin: 60px 160px
    @media (min-width: 1440px)
        margin: 65px 165px 60px

.logo
    width: 140px
    position: relative
    margin-top: 5px
    z-index: 900
    @media (min-width: 800px)
        width: 120px
    @media (min-width: 1000px)
        width: 130px
    @media (min-width: 1300px)
        margin-top: 20px
        width: 170px
    @media (min-width: 1400px)
        margin: 0
        width: 190px
    @media (min-width: 1440px)
        width: 195px
