.intro__img
    max-width: 100%
    padding: 0 23px
    margin-top: 710px
    margin-bottom: 40px

.intro__txt-container
    padding: 0 40px
    text-align: center

.intro-title
    font:
        family: $second-font
        size: 1.9em
        weight: 300
    line-height: 1em
    text-transform: uppercase
    margin-bottom: 17px
    @media(max-width: 265px)
        font-size: 1.3em
        line-height: 1.3em

.intro-txt
    font:
        size: .9em
    line-height: 1.6em
    color: $dark-gray
    margin-bottom: 85px
    

